/* LAYOUT PAGE */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0, auto;
    min-height: 100vh;
    width: 100%;
    background: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 100px 0 100px;
    margin-bottom: 200px;
}

h1 {
    color: black;
}

h2 {
    font-family: 'Passero One', cursive;
    font-size: 25px;
    margin: 10px;
    color: white;
}

h3 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer h1 {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;

}

/* DARK MODE */

.dark-mode {
    background: white;
}

.dark-mode h1 {
    color: black;
}

.dark-mode h2 {
    color: white;
}

.dark-mode h3 {
    color: black;
}

.dark-mode .button-mode::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
}

/* ---------- */

button {
    margin: 10px 10px 10px 20px;
}

.button-mode {
    width: 200px;
    height: 50px;

    cursor: pointer;
    position: relative;

    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowing 30s linear infinite;

    font-family: 'Passero One', cursive;
    font-size: 25px;
}

.button-mode:before {
    content: "";
    width: 200px;
    height: 50px;

    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transition: .4s;
    top: 0px;
    left: 0px;

    z-index: -1;

}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}