* {
    margin: 0;
    padding: 0;
}

.text {
    display: flex;
    margin: 0, auto;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

.hello {
    margin: auto;
    transform-origin: bottom left;
    transform: rotate(-52deg);
    height: 150px;
    width: 275px;
}

.hello div {

    display: inline-block;
    font-size: 6rem;
    color: #000000;
    height: 300px;
    position: absolute;
    transform-origin: bottom center;
    text-shadow: 0 0 50px purple;
}

.world {
    font-family: 'DynaPuff', cursive;
    background-color: black;
    color: white;
    width: 30rem;
    text-align: center;
    font-size: 3rem;
    border-radius: 35%;
}

.w {
    color: pink;
}

.o {
    color: red;
}

.r {
    color: orange;
}

.l {
    color: yellow;
}

.d {
    color: green;
}

.simbol {
    color: blue;
}


img {
    width: 30rem;
    margin: -8rem;
}