/*

CSS STRUCTURE IN 2 SECTIONS

LAYOUT PAGE
STYLE FONTS
EFECTS

*/

/* ----------- */
/* LAYOUT PAGE */
/* ----------- */

/* --------------------------------------- */
/* On screens that are 425px or less */
/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0, auto;
    min-height: 100vh;
    width: 100%;
}

header {
    padding-top: 5%;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 5% 0 1% 0;
}

.progress {
    border: black 1px solid;
    width: 75%;
    border-radius: calc(1vw);
}

h4 {
    font-family: 'Passero One', cursive;
    font-size: calc(1vw);
}

main .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5% 15%;
}

footer nav {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 5%;
}

nav div {
    display: flex;
}

nav div+div {
    margin-left: 3%;
}

/* ----------- */
/* STYLE FONTS */
/* ----------- */

body {
    background: white;
}

header .title h1 {
    font-family: 'Passero One', cursive;
    font-size: calc(5vw);
}

header .title h2 {
    font-family: 'Passero One', cursive;
    font-size: calc(2vw);
}

header .title h2 a {
    opacity: 0.5;
    color: black;
    text-decoration: none;
}

header .title h2 a:hover {
    font-weight: bold;
    opacity: 1;
}

.line p {
    font-family: 'Passero One', cursive;
    font-size: calc(1.5vw);
    z-index: -1;
}

/* ----------- */
/*   EFECTS    */
/* ----------- */

.redes {
    opacity: 0.5;
    width: 100%;
}

.redes:hover {
    font-weight: bold;
    opacity: 1;
}

.button-mode {
    width: calc(20vw);
    height: calc(4vw);

    margin-top: .5%;

    cursor: pointer;
    position: relative;

    border-image-slice: 1;
    border-width: calc(.3vw);
    border-image-source: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowing 30s linear infinite;

    font-family: 'Passero One', cursive;
    font-size: calc(2vw);
}

.button-mode:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}