* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    font-family: 'Passero One', cursive;
}

.home {
    display: flex;
    width: 8%;
    position: absolute;
    margin: 31% 0 0 63.3%;
    z-index: 1;
    animation: op00 2s linear forwards;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes op00 {
    100% {
        opacity: 1;
    }
}

.home img {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    font-size: calc(10vw);
    align-items: center;
    justify-content: center;
}

.error div {
    height: calc(70vw);
    position: absolute;
    top: 0;
    color: black;
    animation: op01 .6s linear forwards;
    animation-delay: 2s;
}

@keyframes op01 {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.back {
    display: flex;
    font-size: calc(10vw);
    align-items: center;
    justify-content: center;
}

.back div {
    height: calc(70vw);
    position: absolute;
    top: 0;
    color: black;
    animation: op02 4.2s linear forwards;
    opacity: 0;
}

@keyframes op02 {
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main section {
    display: flex;
}

.yin-yang {
    display: flex;
    width: 70%;
    position: absolute;
    justify-content: center;
}

.yin-yang img {
    width: 100%;
    transform: rotate(-90deg);
    animation: glowing 2.5s linear forwards;
    animation-delay: 2s;
}

@keyframes glowing {
    50% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(630deg)
    }
}

footer nav {
    display: flex;


}

.redes {
    margin: 75% 0 0% 2%;
    opacity: 0.5;
    width: 8%;
}

.redes img {
    width: 100%;
}

.redes:hover {
    opacity: 1;
}

.powered {
    display: flex;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.powered p {
    font-size: calc(2vw);
}