* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    font-family: 'Passero One', cursive;
}

header {
    margin-bottom: 5%;
}

.home {
    display: flex;
    width: 4%;
    position: absolute;
    margin: 18% 0 0 57.8%;
    z-index: 1;
    animation: op00 2s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes op00 {
    100% {
        opacity: 1;
    }
}

.home img {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    font-size: calc(5vw);
    align-items: center;
    justify-content: center;
}

.error div {
    height: calc(40vw);
    position: absolute;
    top: 10%;
    color: black;
    animation: op01 .6s ease-in-out forwards;
}

@keyframes op01 {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.back {
    display: flex;
    font-size: calc(5vw);
    align-items: center;
    justify-content: center;
}

.back div {
    height: calc(40vw);
    position: absolute;
    top: 10%;
    color: black;
    animation: op02 2s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes op02 {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

main section {
    display: flex;
}

.yin-yang {
    display: flex;
    width: 40%;
    position: absolute;
    justify-content: center;
}

.yin-yang img {
    width: 100%;
    transform: rotate(-90deg);
    animation: glowing 2.5s linear forwards;
    animation-delay: 0s;
}

@keyframes glowing {
    50% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(630deg)
    }
}

footer nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2;
}

.redes {
    margin: 3% 0 0% 2%;
    opacity: 0.5;
    width: 5%;
}

.redes img {
    width: 100%;
}

.redes:hover {
    opacity: 1;
}

.powered {
    display: flex;
    position: fixed;
    top: 1%;
    right: 1%;
}

.powered p {
    font-size: calc(1.2vw);
}